<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lx1992.kaoshi.hacker.mapper.RankingMapper">
    <insert id="save" parameterType="cn.com.lx1992.kaoshi.hacker.model.RankingSaveModel">
        insert into tbl_ranking(`rank`, `name`, `score`, `time`, `gmt_create`, `gmt_modify`)
        values (#{rank}, #{name}, #{score}, #{time}, now(), now())
    </insert>
</mapper>