<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lx1992.kaoshi.hacker.mapper.ScoreMapper">
    <insert id="save" parameterType="cn.com.lx1992.kaoshi.hacker.model.ScoreSaveModel" useGeneratedKeys="true"
            keyProperty="id">
        insert into tbl_score(`name`, `score`, `time`, `period`, `gmt_create`, `gmt_modify`)
        values (#{name}, #{score}, #{time}, #{period}, now(), now())
    </insert>

    <select id="queryPeriod" resultType="cn.com.lx1992.kaoshi.hacker.model.ScoreQueryModel">
        select `name`, `score`, `time`, `period`
        from tbl_score
        where `time` >= #{start} and #{end} >= `time` and `status` = 1
    </select>

    <select id="queryPage" resultType="cn.com.lx1992.kaoshi.hacker.model.ScoreQueryModel">
        select `name`, `score`, `time`, `period`
        from tbl_score
        where `status` = 1
        order by ${column} ${dir}
        limit ${offset}, 20
    </select>

    <select id="analyze" resultType="cn.com.lx1992.kaoshi.hacker.model.ScoreAnalyzeModel">
        select
        <if test="type == 1">
            left(`time`, 10) `time`, count(1) `count`, avg(score) `avgScore`, avg(period) `avgPeriod`
        </if>
        <if test="type == 2">
            left(`time`, 10) `time`, count(1) `count`, avg(score) `avgScore`, avg(period) `avgPeriod`
        </if>
        from tbl_score
        where `time` >= #{start} and #{end} >= `time` and `status` = 1
        <if test="type == 1">
            group by left(`time`, 10)
        </if>
        <if test="type == 2">
            group by left(`time`, 10)
        </if>
    </select>
</mapper>