<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lx1992.kaoshi.hacker.mapper.UserMapper">
    <update id="update" parameterType="cn.com.lx1992.kaoshi.hacker.model.UserUpdateModel">
        update tbl_user
        set `gmt_modify` = now()
        <if test="password != null">
            , `password` = #{password}
        </if>
        <if test="cookie1 != null">
            , `cookie1` = #{cookie1}
        </if>
        <if test="cookie2 != null">
            , `cookie2` = #{cookie2}
        </if>
        where id = #{id} and status = 1
    </update>

    <select id="query" parameterType="java.lang.Integer" resultType="cn.com.lx1992.kaoshi.hacker.model.UserQueryModel">
        select `id`, `username`, `password`, `cookie1`, `cookie2`
        from tbl_user
        where id = #{id} and status = 1
        limit 1
    </select>
</mapper>
