<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/metadata-mapper.xml"/>
        <mapper resource="mybatis/mapper/paper-mapper.xml"/>
        <mapper resource="mybatis/mapper/question-mapper.xml"/>
        <mapper resource="mybatis/mapper/ranking-mapper.xml"/>
        <mapper resource="mybatis/mapper/score-mapper.xml"/>
        <mapper resource="mybatis/mapper/user-mapper.xml"/>
    </mappers>
</configuration>